* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fa;
}
.movie-wrapper {
    background-color: white;
    width: 700px;
    height: auto; /* Увеличиваем высоту для лучшего размещения текста */
    display: grid;
    padding: 40px;
    grid-template-rows: auto 1fr; /* Изменение на auto для верхней секции */
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
.header-section {
    display: flex; /* Изменено на flex для лучшего выравнивания */
    justify-content: space-between;
    align-items: center; /* Центрируем по вертикали */
}
.movie-info a {
    text-decoration: none;
    color: #72a4e9;
}
.header-section p {
    color: grey;
}
.header-section p span {
    color: #72a4e9;
    font-weight: 900;
}
.content-section {
    display: grid;
    grid-template-columns: 35% 65%; 
}
.image-column {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.image-column img {
    max-width: 100%; 
    height: auto; 
}
.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}
.price-section button {
    width: 80px;
    height: 30px;
    border: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
}
.details-column {
    display: flex;
    flex-direction: column; 
}
.about-movie {
    margin-bottom: 20px; 
}
.about-movie h2 {
    font-size: 19px;
}
.about-movie p {
    padding-right: 40px;
    font-size: 15px;
}
.cast-crew {
    display: flex;
    flex-direction: column;
}
.cast-crew h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.cast-crew .actors-section ul li {
    list-style: none;
    margin-top: 2px;
}
.cast-crew .actors-section .more-link ul li {
    list-style: none;
    margin-top: 10px;
}
.cast-crew .actors-section .more-link ul li a {
    font-weight: 700;
    color: #72a4e9;
    text-decoration: underline;
}
.cast-crew .actors-section ul li a {
    text-decoration: none;
    color: #72a4e9;
}
.cast-crew .director-section a,
.cast-crew .producers-section a {
    font-size: 14px;
    text-decoration: none;
    color: #72a4e9;
}
.trailer-button {
    display: flex;
    justify-content: center;
    margin-top: auto; 
}
.trailer-button button {
    width: 180px;
    height: 30px;
    border: none;
    background-color: black;
    border-radius: 50px;
}
.trailer-button button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
